In [1]:
url = '/Users/nithish/Documents/Academics/Spring 24/AML/project/data/spark-2022-stream-1/labels/train.csv'
import pandas as pd
data_train = pd.read_csv(url)
data_test = pd.read_csv('/Users/nithish/Documents/Academics/Spring 24/AML/project/data/spark-2022-stream-1/labels/val.csv')

In [2]:
data_train

            filename        class                   bbox
0      img086351.png      smart_1   [183, 311, 657, 415]
1      img083734.png      smart_1   [361, 352, 479, 716]
2      img081317.png      smart_1    [163, 16, 905, 785]
3      img089140.png      smart_1   [188, 427, 499, 573]
4      img082379.png      smart_1  [152, 462, 1024, 605]
...              ...          ...                    ...
65995  img038347.png  double_star   [420, 255, 605, 397]
65996  img039337.png  double_star   [350, 507, 524, 649]
65997  img031787.png  double_star   [441, 494, 711, 716]
65998  img030071.png  double_star   [173, 234, 885, 644]
65999  img037752.png  double_star   [258, 128, 346, 402]

[66000 rows x 3 columns]

In [3]:
data_test

            filename            class                  bbox
0      img055517.png  lisa_pathfinder  [375, 273, 610, 496]
1      img056814.png  lisa_pathfinder  [678, 302, 811, 448]
2      img053102.png  lisa_pathfinder  [246, 247, 466, 473]
3      img053516.png  lisa_pathfinder  [338, 600, 601, 878]
4      img055023.png  lisa_pathfinder  [545, 408, 762, 596]
...              ...              ...                   ...
21995  img038902.png      double_star  [628, 218, 699, 398]
21996  img038864.png      double_star  [478, 604, 655, 666]
21997  img039842.png      double_star  [584, 336, 904, 540]
21998  img031475.png      double_star  [345, 240, 580, 708]
21999  img034506.png      double_star  [441, 566, 845, 908]

[22000 rows x 3 columns]

In [4]:
train = data_train.copy()

In [5]:
data_test['class'].value_counts()

class
lisa_pathfinder            2000
proba_3_csc                2000
smart_1                    2000
xmm_newton                 2000
soho                       2000
earth_observation_sat_1    2000
debris                     2000
proba_2                    2000
proba_3_ocs                2000
cheops                     2000
double_star                2000
Name: count, dtype: int64

In [6]:
new_train = train[train['class']=='debris']


list = data_train['class'].value_counts().index.tolist()
list.remove('debris')

class_data = pd.DataFrame()
for class_name in list:
    data = train[train['class'] == class_name].head(600)
    class_data = pd.concat([class_data, data])

class_data = class_data.sample(frac=1, random_state=42)
class_data.reset_index(drop=True, inplace=True)

Filtered_train = pd.concat([new_train, class_data])
Filtered_train = Filtered_train.sample(frac=1, random_state=42)
Filtered_train.reset_index(drop=True, inplace=True)
Filtered_train

            filename        class                  bbox
0      img027349.png       debris  [907, 450, 985, 538]
1      img070076.png  proba_3_ocs   [289, 68, 832, 589]
2      img020464.png       debris  [586, 509, 779, 658]
3      img066160.png  proba_3_csc  [296, 408, 458, 690]
4      img020594.png       debris  [464, 335, 580, 471]
...              ...          ...                   ...
11995  img083881.png      smart_1  [204, 275, 515, 803]
11996  img020515.png       debris  [308, 655, 513, 812]
11997  img023071.png       debris  [469, 563, 544, 637]
11998  img024484.png       debris  [491, 547, 583, 627]
11999  img092351.png         soho  [407, 230, 772, 498]

[12000 rows x 3 columns]

In [7]:
test = data_test.copy()
new_test = test[test['class']=='debris']

list_test = test['class'].value_counts().index.tolist()
list_test.remove('debris')

class_data_test = pd.DataFrame()
for class_name in list:
    data1 = test[test['class'] == class_name].head(200)
    class_data_test = pd.concat([class_data_test, data1])

class_data_test = class_data_test.sample(frac=1, random_state=42)
class_data_test.reset_index(drop=True, inplace=True)

Filtered_val = pd.concat([new_test, class_data_test])
Filtered_val = Filtered_val.sample(frac=1, random_state=42)
Filtered_val.reset_index(drop=True, inplace=True)
Filtered_val

           filename                    class                  bbox
0     img028969.png                   debris  [176, 247, 267, 329]
1     img040654.png  earth_observation_sat_1  [271, 319, 608, 564]
2     img026329.png                   debris  [897, 371, 994, 461]
3     img042873.png  earth_observation_sat_1  [636, 376, 802, 518]
4     img051028.png          lisa_pathfinder  [399, 344, 855, 590]
...             ...                      ...                   ...
3995  img029009.png                   debris  [838, 380, 918, 471]
3996  img028031.png                   debris  [721, 225, 783, 293]
3997  img028270.png                   debris  [784, 400, 843, 460]
3998  img066539.png              proba_3_csc  [147, 208, 452, 496]
3999  img075180.png              proba_3_ocs  [303, 384, 457, 552]

[4000 rows x 3 columns]

In [8]:
new_test['filename'].value_counts()

filename
img020746.png    1
img025257.png    1
img026791.png    1
img028477.png    1
img024853.png    1
                ..
img021486.png    1
img024166.png    1
img020499.png    1
img023224.png    1
img029822.png    1
Name: count, Length: 2000, dtype: int64

In [9]:
new_train['filename'].value_counts()

filename
img028909.png    1
img025746.png    1
img020875.png    1
img020735.png    1
img029014.png    1
                ..
img021002.png    1
img025935.png    1
img026031.png    1
img024985.png    1
img028983.png    1
Name: count, Length: 6000, dtype: int64

In [10]:
set(new_train['filename'].str[-4:].values.tolist())

{'.png'}

In [11]:
# to find different types of file extensions in a folder
#find . -type f -exec sh -c 'echo "${0##*.}"' {} \; | sort | uniq -c

# command for deleting faster in mac
# find . -maxdepth 1 -name "*.jpg" -exec rm {} \;    # go to the respective directory

In [12]:
Filtered_train['filename'] = Filtered_train['filename'].str[:-4]
Filtered_train['filename'] = Filtered_train['filename'] + '.jpg'
Filtered_train

Filtered_val['filename'] = Filtered_val['filename'].str[:-4]
Filtered_val['filename'] = Filtered_val['filename'] + '_2022.jpg'
Filtered_val

                filename                    class                  bbox
0     img028969_2022.jpg                   debris  [176, 247, 267, 329]
1     img040654_2022.jpg  earth_observation_sat_1  [271, 319, 608, 564]
2     img026329_2022.jpg                   debris  [897, 371, 994, 461]
3     img042873_2022.jpg  earth_observation_sat_1  [636, 376, 802, 518]
4     img051028_2022.jpg          lisa_pathfinder  [399, 344, 855, 590]
...                  ...                      ...                   ...
3995  img029009_2022.jpg                   debris  [838, 380, 918, 471]
3996  img028031_2022.jpg                   debris  [721, 225, 783, 293]
3997  img028270_2022.jpg                   debris  [784, 400, 843, 460]
3998  img066539_2022.jpg              proba_3_csc  [147, 208, 452, 496]
3999  img075180_2022.jpg              proba_3_ocs  [303, 384, 457, 552]

[4000 rows x 3 columns]

In [13]:
category_to_zero = 'debris'
Filtered_train['class'] = Filtered_train['class'].apply(lambda x: 0 if x == category_to_zero else 1)
Filtered_val['class'] = Filtered_val['class'].apply(lambda x: 0 if x == category_to_zero else 1)

In [14]:
import os
import shutil

filenames_train_df = pd.DataFrame()

filenames_train_df['filename'] = Filtered_train['filename']

folder_2022_train = "/Users/nithish/Documents/Academics/Spring 24/AML/project/data/spark-2022-stream-1/train"
master_train_folder = "/Users/nithish/Documents/Academics/Spring 24/AML/project/data/master_data/train"

# Iterate through the list of filenames and transfer corresponding images
for filename in filenames_train_df['filename']:
    
    finalName = filename
    filename = filename[:-9]
    filename = filename +'.jpg'
    source_path = os.path.join(folder_2022_train, filename)
    destination_path = os.path.join(master_train_folder, finalName)
    if os.path.exists(source_path):
        shutil.copy(source_path, destination_path)

print("Images transferred.")

Images transferred.

In [15]:
filenames_test_df = pd.DataFrame()

filenames_test_df['filename'] = Filtered_val['filename']

folder_2022_val = "/Users/nithish/Documents/Academics/Spring 24/AML/project/data/spark-2022-stream-1/val"
master_val_folder = "/Users/nithish/Documents/Academics/Spring 24/AML/project/data/master_data/val"

# Iterate through the list of filenames and transfer corresponding images
for filename in filenames_test_df['filename']:
    finalName = filename
    filename = filename[:-9]
    filename = filename +'.jpg'
    source_path = os.path.join(folder_2022_val, filename)
    destination_path = os.path.join(master_val_folder, finalName)
    if os.path.exists(source_path):
        shutil.copy(source_path, destination_path)

print("Images transferred.")

Images transferred.

In [16]:
test_data = pd.read_csv('/Users/nithish/Documents/Academics/Spring 24/AML/project/data/spark-2022-stream-1/labels/sample_submission.csv')

import numpy as np 

Filtered_train['usage'] = 'train'
Filtered_val['usage'] = 'val'
test_data['usage'] = 'test'

Filtered_train['year'] = 2022
Filtered_val['year'] = 2022
test_data['year'] = 2022

Filtered_train['illumination'] = np.nan
Filtered_val['illumination'] = np.nan
test_data['illumination'] = np.nan
test_data['bbox'] = np.nan
test_data['class'] = np.nan

# Define the desired order of column names
desired_order = ['illumination', 'filename', 'bbox', 'class']

# Reorder the columns of the DataFrame
Filtered_train = Filtered_train[desired_order]
Filtered_val = Filtered_val[desired_order]
test_data = test_data[desired_order]


data_2022 = pd.concat([Filtered_train, Filtered_val, test_data], ignore_index=True)

In [17]:
data_2022

       illumination       filename                  bbox  class
0               NaN  img027349.jpg  [907, 450, 985, 538]    0.0
1               NaN  img070076.jpg   [289, 68, 832, 589]    1.0
2               NaN  img020464.jpg  [586, 509, 779, 658]    0.0
3               NaN  img066160.jpg  [296, 408, 458, 690]    1.0
4               NaN  img020594.jpg  [464, 335, 580, 471]    0.0
...             ...            ...                   ...    ...
37995           NaN  img022385.png                   NaN    NaN
37996           NaN  img022129.png                   NaN    NaN
37997           NaN  img025998.png                   NaN    NaN
37998           NaN  img023907.png                   NaN    NaN
37999           NaN  img024740.png                   NaN    NaN

[38000 rows x 4 columns]

In [18]:
data_2022.to_csv('data_2022.csv', index=False)